div#submenu {
  background-color: rgb(255, 128, 9);
  color: white;
}

nav#menuHamburguesa {
  display: none;
}

li a {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color: white;
}

li a:hover {
  color: black;
}

/* Pantalla pequeña */
@media screen and (max-width:812px) {
  div#submenu {
    display: none;
  }

  nav#menuHamburguesa {
    display: contents;
  }

  nav#menuHamburguesa ul{
    display: none;
  }

  nav#menuHamburguesa input:checked  ~ ul{
    display:block;
  }

  nav#menuHamburguesa label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(255, 128, 9);
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }

  nav#menuHamburguesa li {
    display: block;
    background-color: rgb(255, 128, 9);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid var(--azul);
  }

  nav#menuHamburguesa input {
    display: none;
  }

}
