<div id="submenu">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#" id="inicio" routerLink="/home">Inicio</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/hoteles">Hoteles</a>
    </li>  -->
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/casas-rurales">Casas Rurales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/apartamentos">Apartamentos</a>
    </li>
  </ul>
</div>

<nav id="menuHamburguesa">
  <input type="checkbox" id="menu">
  <label for="menu"> ☰ </label>
  <ul>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#" id="inicio" routerLink="/home">Inicio</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/hoteles">Hoteles</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/casas-rurales">Casas Rurales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/apartamentos">Apartamentos</a>
    </li>
  </ul>
</nav>


