<div id="submenu">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#" routerLink="/home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/hoteles">Hoteles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/casas-rurales">Casas Rurales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/alojamientos">Apartamentos</a>
    </li>
    <li class="nav-item">
      <span><i class="fas fa-house-user"></i></span>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registrar alojamiento</a>
    </li>
  </ul>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  </button>
</div>

