<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Logo Pagina" src="../assets/icons/icon.png"/>

  <h1 id="titulo">Turismo Galicia</h1>

  <button type="button" class="btn btn-light" id="registro" data-toggle="modal" data-target="#modalRegistro" *ngIf="!classReference.logeado">Regístrate</button>
  <button type="button" class="btn btn-light" id="login" data-toggle="modal" data-target="#modalLogin" *ngIf="!classReference.logeado">Inicia sesión</button>

  <h2 *ngIf="classReference.logeado" class="saludoLogeado">Hola, {{this.classReference.usuarioRegistrado.nombre}}</h2>
  <button type="button" class="btn btn-danger" id="btnCerrarSesion" *ngIf="classReference.logeado" (click)="cerrarSesion()">Cerrar sesión</button>
  <button type="button" class="btn btn-warning" id="btnAdmin" *ngIf="classReference.esAdmin" routerLink="/panel-admin">Panel de control</button>
</div>



<!-- Ventana modal para el inicio de sesión -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Introduce tus datos de usuario</h2>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="modal-body">
        <div class="form-group">
          <label>Correo electrónico</label>
          <input type="text" formControlName="email" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" formControlName="contrasena" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-dismiss="modal" data-target="#modalRegistro">No tienes cuenta?</button>
      </div>
    </div>
  </div>
</div>


<!-- Ventana modal para el registro -->
<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Introduce tus datos para crear tu cuenta</h2>
      </div>

      <form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()" class="modal-body">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" formControlName="nombre" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <input type="text" formControlName="apellido" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Correo electrónico</label>
          <input type="text" formControlName="email" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" formControlName="contrasena" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Crear cuenta</button>
      </form>
    </div>


  </div>
</div>
