.toolbar {
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--azul);
  color: white;
  z-index: 100;
}

h2.saludoLogeado {
  font-family: 'Montserrat', sans-serif;
}

h2.saludoLogeado, button#btnCerrarSesion, button#btnAdmin {
  margin-right: 15px;
}

h1#titulo {
  padding-top: 10px;
  flex: 1;
  margin-left: 10px;
  font-weight:bold;
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
}

.toolbar img {
  margin-left: 15vw;
  width: 50px;
}

div.botones button#login {
  justify-content: flex-end;
  margin-right: 15vw;
  margin-left: 5px;
}

div#modalLogin, div#modalRegistro {
  text-align: center;
}

div#modalLogin input, div#modalRegistro input {
  margin-bottom: 10px;
}

div.modal-header {
  background-color: lightskyblue;
}

div.modal-content {
  justify-content: center;
  width: auto;
  margin: auto;
}


/* Pantalla pequeña */
@media screen and (max-width:812px) {
  .toolbar img {
    margin-left: 1vw;
    width: 50px;
  }

  .toolbar {
    width: 100%;
  }

  h1#titulo {
    padding-top: 10px;
    flex: 1;
    margin-left: 10px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
  }

  div.botones {
    justify-content: flex-end;
    margin-left: 20px;
  }

  div.botones button {
    margin-top: 10px;
  }
}
