<div id="datepicker">
  <h1><strong>Selecciona tus fechas</strong></h1>

  <mat-form-field appearance="fill">
    <!-- Para seleccionar la fecha de ida y vuelta -->
    <mat-label>Selecciona fecha de ida y vuelta</mat-label> <!-- en el mismo elemento -->
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

<form class="form-inline my-7 my-lg-3" id="lugar">
  <input type="text" class="form-control form-control-lg" placeholder="Elige tu destino" aria-label="Destino" id="destino">
  <button class="btn btn-primary btn-group-lg" type="submit">Buscar</button>
</form>
