div#contenedor {
  display: grid;
  grid-template-areas: "header"
                      "submenu"
                      "content"
                      "footer";
}

p {
  margin: 0;
}

app-header {
  grid-area: header;
}

app-submenu {
  grid-area: submenu;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.content {
  width: 70%;
  grid-area: content;
  margin: 0px 5vw 30px 15vw;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-areas: "banner banner"
                       "apartamentos casas";
  justify-content: space-between;
}

div#banner {
  grid-area: banner;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

h1#frase-foto {
  font-family: 'Anton', sans-serif;
  font-size: 10vw;
  margin: 10vh 5vw 10vh 3vw;
  width: 50%;
  line-height: 1;
  text-align: center;
}

div#cont-apartamentos {
  grid-area: apartamentos;
}

div#cont-casas {
  grid-area: casas;
}

div#cont-apartamentos, div#cont-casas {
  width: 90%;
  height: auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5vh;
  justify-content: center;
  border: 2px solid #1976d2;
  border-radius: 10px;
}

h2 {
  background-color: #1976d2;
  padding: 10px;
  width: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px 10px 0px 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

div.card {
  margin: 0 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;
  width: 25vh;                          /* CAMBIAR PARA RESPONSIVE, PARA TABLET 20VH*/
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1976d2;
}


/* Pantalla mediana */
@media screen and (max-width:1024px) {
  div.content {
    grid-template-areas: "banner banner"
                       "apartamentos apartamentos"
                       "casas casas";
  }
}


