<app-header></app-header>
<app-submenu></app-submenu>

<div class="container">

  <!-- Listamos los apartamentos listados -->
  <div class="apartamentos">
    <h2>Apartamentos en Galicia</h2>

    <div class="busqueda">
      <h3 class="elegirProvincia">Elige la provincia para buscar un apartamento</h3>
      <select [(ngModel)]="provinciaSeleccionada" class="selectProvincia">
        <option value="todas">Todas</option>
        <option value="A Coruña">A Coruña</option>
        <option value="Lugo">Lugo</option>
        <option value="Ourense">Ourense</option>
        <option value="Pontevedra">Pontevedra</option>
      </select>
      <button type="button" class="btn btn-primary" (click)="actualizarApartamentos()">Buscar</button>
    </div>


    <div class="apartamento" *ngFor="let item of apartamentos">
      <h2>{{ item.nombre }}</h2>
      <h3>{{ item.provincia }}</h3>
      <p>{{ item.direccion }}</p>
      <p>{{ item.huespedes }} huéspedes máximo</p>
      <p>{{ item.precio }}€</p>
      <button type="button" class="btn btn-dark" id="reserva" data-toggle="modal" (click)="seleccionarApartamento(item)" data-target="#modalReserva">Reservar</button>
    </div>
  </div>

  <hr>

  <button type="button" class="btn btn-info" id="verForm" *ngIf="classReference.logeado" (click)="verFormulario = true">Quieres registrar tu apartamento?</button>

  <!-- Formulario para registrar apartamento -->
  <div class="apartamentoForm" *ngIf="verFormulario">
    <h2>Registrar apartamento</h2>
    <form [formGroup]="apartamentoForm" (ngSubmit)="guardarApartamento()">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" />
      </div>
      <div class="form-group">
        <label>Provincia</label>
        <select required name="provincia" class="form-control" formControlName="provincia">
          <option value="A Coruña">A Coruña</option>
          <option value="Lugo">Lugo</option>
          <option value="Ourense">Ourense</option>
          <option value="Pontevedra">Pontevedra</option>
        </select>
      </div>
      <div class="form-group">
        <label>Dirección</label>
        <input type="text" formControlName="direccion" class="form-control" />
      </div>
      <div class="form-group">
        <label>Teléfono</label>
        <input type="number" formControlName="tlf" class="form-control" />
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" formControlName="precio" class="form-control" />
      </div>
      <div class="form-group">
        <label>Huéspedes</label>
        <input type="number" formControlName="huespedes" class="form-control" />
      </div>
      <div class="form-check">
        <label class="form-check-label" for="mascotas">Permite mascotas?</label>
        <input class="form-check-input" type="checkbox" id="mascotas" formControlName="mascotas"/><br />

        <label class="form-check-label" for="fumadores">Permite fumadores?</label>
        <input class="form-check-input" type="checkbox" id="fumadores" formControlName="fumadores"/><br />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="apartamentoForm.invalid">Registrar</button>
    </form>
  </div>
</div>



<!-- Ventana modal para la reserva -->
<div class="modal fade" id="modalReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Introduce la fecha de entrada y salida</h2>
      </div>

      <form [formGroup]="reservaForm" class="modal-body">
        <div class="fechas">
          <div class="fechaEntrada">
            <h2>Entrada</h2>
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar (selectedChange)="fechaEntrada = $event"></mat-calendar>
            </mat-card>
            <p>Fecha entrada: {{fechaEntrada}}</p>
          </div>

          <div class="fechaSalida">
            <h2>Salida</h2>
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar (selectedChange)="fechaSalida = $event"></mat-calendar>
            </mat-card>
            <p>Fecha salida: {{fechaSalida}}</p>
          </div>
        </div>


        <div class="botonReserva" *ngIf="comprobarFechas(fechaEntrada, fechaSalida)">
          <h3>{{this.apartamento.nombre}}</h3>
          <h3 id="textoPrecio">El precio total serían {{contarDias(fechaEntrada, fechaSalida) * this.apartamento.precio}}€</h3><br>
          <button type="button" class="btn btn-dark" id="reserva" (click)="reservarApartamento(this.apartamento, fechaEntrada, fechaSalida)">Confirmar</button>
        </div>

      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
