div.apartamentoForm {
  background-color: rgba(23, 130, 230, 0.397);
  text-align: initial;
  margin-top: 15px;
  border: 2px solid var(--azul);
}

div.container {
  text-align: center;
  width: 90%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  background-color: var(--azul);
  width: 100%;
  color: white;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

label {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  background-color: var(--azul);
  color: white;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input, select {
  margin-left: 20px;
  width: 75%;
}

select.selectProvincia {
  height: auto;
  margin-bottom: 15px;
}

input#mascotas, input#fumadores {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

table#tabApartamentos {
  padding: 10px;
  justify-content: center;
}

div.apartamentos {
  width: 100%;
  align-self: center;
  height: auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5vh;
  border: 2px solid #1976d2;
  border-radius: 10px;
  justify-content: space-around;
}

button {
  margin: 10px;
}

div.apartamento {
  font-family: 'Montserrat', sans-serif;
  width: 35%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1976d2;
  margin-bottom: 10px;
}


