<app-header></app-header>
<app-submenu></app-submenu>

<div class="habitacionForm">
  <h2>Registrar habitación</h2>
  <form [formGroup]="habitacionForm" (ngSubmit)="guardarHabitacion()">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" formControlName="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label>Hotel perteneciente</label>
    <select name="hotel" id="hotel" formControlName="hotel" class="form-control">
      <option [ngValue]="item" *ngFor="let item of hoteles">{{item.nombre}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input type="number" formControlName="precio" class="form-control">
  </div>
  <div class="form-group">
    <label>Huéspedes</label>
    <input type="number" formControlName="huespedes" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>

<h2>Habitaciones registradas:</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Hotel</th>
              <th>Precio</th>
              <th>Huéspedes</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of habitaciones">
              <td>{{item.id}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.hotel?.nombre}}</td>
              <td>{{item.precio}}</td>
              <td>{{item.huespedes}}</td>
              <td><button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button></td>
            </tr>
          </tbody>
        </table>

<app-footer></app-footer>

