<app-header></app-header>
<app-submenu></app-submenu>

<h2 id="titulo">Acerca de nosotros</h2>

<div class="container">
  <div class="content">
    <img src="../../../assets/img/atardecer.jpg" id="atardecer">
    <div class="texto">
      <p>Esta página fue creada para compartir lo que tenemos, 'o noso'. Que no hace falta siempre coger un avión para irse a un sitio
      bonito o nuevo, hay muchísimos sitios por descubrir que merecen la pena. Que no haga falta que nos vayamos para que nos demos cuenta de lo que tenemos.</p>

      <p>Para que la gente se anime a visitar la Ribeira Sacra en Ourense, que se vayan a Sanxenxo de fiesta, a Lugo a ver la muralla,
      a las playas de A Coruña a hacer surf, a Santiago a ver la catedral, a Vigo a ver las luces de navidad, a Allariz a Festa do Boi,
      y a muchísimos sitios más.
      </p>
    </div>
    <h2 id="frase">DE NÓS PARA NÓS</h2>
  </div>
</div>


<app-footer></app-footer>
