* {
  margin: 0px;
  padding: 0px;
}

:root {
  --azul: #1976d2;
}

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }

body#principal {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("src/assets/img/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
  align-items: center;
  justify-content: center;
}




