<app-header></app-header>
<app-submenu></app-submenu>

<div class="container">

  <h2>Tus reservas:</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Fecha realizada</th>
        <th>Fecha entrada</th>
        <th>Fecha salida</th>
        <th>Precio</th>
        <th>Alojamiento</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of reservas">
        <td>{{item.fechaRealizada}}</td>
        <td>{{item.fechaEntrada}}</td>
        <td>{{item.fechaSalida}}</td>
        <td>{{item.precio}}€</td>
        <td *ngIf="esApartamento(item)">{{item.apartamento.nombre}}</td>
        <td *ngIf="!esApartamento(item)">{{item.casaRural.nombre}}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminarReserva(item)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>

</div>

<app-footer></app-footer>
